<html>
  <img id="poster" src="{{omdb.img}}" alt="{{omdb.title}}">
  {% if itunes %}
  <h1>{{itunes.title}}</h1>
  <b>{{itunes.price}}</b> <br>
  {{itunes.desc}}
  {% elif omdb %}
  <h1>{{omdb.title}}</h1> <br>
  {{omdb.desc}}
  {% endif %}
  <hr>
  <ul>
    {% for a in omdb.cast %}
    <li>{{a}}</li>
      {% endfor %}
  </ul>
    <!--  I can't figure out the iTunes video inclusion. I think there's
  some weird drm involved
  <video controls="" autoplay="" name="media">
    <source src="{{itunes.trailer}}" type="video/x-m4v">
  </video> -->
</html>

<style>
#poster {
float: right;
margin: 10px;
}
</style>
