<html>
    <head>
        <link rel="stylesheet" href="../static/css/foundation.css">
        <script src="../static/js/vendor/jquery.js"></script>
        <script src="../static/js/foundation/foundation.js"></script>
    </head>

    <style>
        #poster {
            float: right;
            margin: 10px;
        }
        #price {
            color:green;
        }
        .shadow {
            -moz-box-shadow:    3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow:         3px 3px 5px 6px #ccc;
        }
    </style>

{% if legality == "legal" %}
<body style="background-color:#F6F4F0;">
  <div style="width:90%;margin-left:auto; margin-right:auto; background-color:white;" id="container" class="shadow" >
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">PizzaMovie</a></h1>
        </li>
      </ul>
    </nav>
    
    
    <div class="row">
      <div class="large-12 columns">
	<div class="large-4 columns push-8">
	  <img id="poster" src="{{poster}}" alt="{{m.title}}">
	</div>
	<div class="large-8 pull-4 columns">
	  <br>
	  <a href="/"><i><u>Back to Search</i></u></a>
	  <h1>{{m.title}}</h1>
	  <b id="price"><a href={{m.iurl}}>{{m.itunes_price}} {{m.itunes_currency}}</a></b> 
	  <br>
	  {{m.itunes['desc']}}
	  <hr>
	  <ul class="no-bullet">
	    <li><h5>Cast</h5>
	      <ul>
		{% for a in m.cast %}
		<li>{{a}}</li>
		{% endfor %}
	      </ul>
	    </li>
	  </ul>
	  {% if m.yt %}
	  <hr>
	  <div class="flex-video">
	    <iframe width="560" height="315" src="//www.youtube.com/embed/{{ youtube_id }}?rel=0" frameborder="0" allowfullscreen>
	    </iframe>
	    <!--  I can't figure out the iTunes video inclusion. I think there's
		  some weird drm involved
		  <video controls="" autoplay="" name="media">
		    <source src=" type="video/x-m4v">
		  </video> -->
	  </div>
	  {% endif %}
	  
	  {% if m.recs %}
	  <hr>
	  <ul class="no-bullet">
	    <li><h5>Suggested Movies</h5>
	      <ul>
		{% for rec in m.recs.unloaded %}
		<li><a href="/m/{{rec}}">{{rec}}</a></li>
		{% endfor %}
	      </ul>
	    </li>
	  </ul>
	  {% endif %}
	  <br>   
        </div>
      </div>
    </div>
  </div>
</body>
{% elif legality %}
<body style="background-color:#F6F4F0;">
  <div style="width:90%; margin-left:auto; margin-right:auto; background-color:white;" id="container" class="shadow" >
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="">PizzaMovie</a></h1>
        </li>
      </ul>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 large-centered columns">
          <br>
          <a href="/"><i><u>Back to Search</i></u></a>
          <h2 style="text-align:center;">Onward to <a href="http://thepiratebay.sx/search/{{ m.title }}">Free Things!</a></h2>
          <hr>
          <div class="flex-video">
            <iframe width="420" height="315" src="//www.youtube.com/embed/IBH4g_ua5es?autoplay=1" frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>    
</body>
{% endif %}

  
</html>
