<html>
    <head>
        <link rel="stylesheet" href="../static/css/foundation.css">
        <script src="../static/js/vendor/jquery.js"></script>
        <script src="../static/js/foundation/foundation.js"></script>
    </head>

    <style>
        #poster {
            float: right;
            margin: 10px;
        }
        #price {
            color:green;
        }
        .shadow {
            -moz-box-shadow:    3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow:         3px 3px 5px 6px #ccc;
        }
    </style>

{% if legality == "legal" %}
<body style="background-color:#F6F4F0;">
  <div style="width:90%;margin-left:auto; margin-right:auto; background-color:white;" id="container" class="shadow" >
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">PizzaMovie</a></h1>
        </li>
      </ul>
    </nav>
    
    
    <div class="row">
      <div class="large-12 columns">
	<div class="large-4 columns push-8">
	</div>
	<div class="large-8 pull-4 columns">
	  <br>
	  <a href="/"><i><u>Back to Search</i></u></a>

	  {% if itunes %}
	  <h1>{{itunes['title']}}</h1>
	  <b id="price"><a href={{itunes['purchase_url']}}>{{itunes['price']}} {{itunes['currency']}}</a></b> 
	  <br>
	  {{itunes['desc']}}

	  {% elif omdb %}
	  <h1>{{omdb['title']}}</h1>
	  <br>
	  {{omdb['desc']}}

	  {% endif %}


	  {% if omdb %}
	  <hr>
	  <ul class="no-bullet">
	    <li><h5>Cast</h5>
	      <ul>
		{% for a in omdb['cast'] %}
		<li>{{a}}</li>
		{% endfor %}
	      </ul>
	    </li>
	  </ul>
	  {% endif %}

	  <br>   
        </div>
      </div>
    </div>
  </div>
</body>
{% elif legality %}
<body style="background-color:#F6F4F0;">
  <div style="width:90%; margin-left:auto; margin-right:auto; background-color:white;" id="container" class="shadow" >
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="">PizzaMovie</a></h1>
        </li>
      </ul>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 large-centered columns">
          <br>
          <a href="/"><i><u>Back to Search</i></u></a>
          <h2 style="text-align:center;">Onward to <a href="http://thepiratebay.sx/search/{{ itunes['title'] }}">Free Things!</a></h2>
          <hr>
          <div class="flex-video">
            <iframe width="420" height="315" src="//www.youtube.com/embed/IBH4g_ua5es?autoplay=1" frameborder="0" allowfullscreen>
            </iframe>
          </div>
            </div>
      </div>
    </div>
  </div>    
</body>
{% endif %}

  
</html>
