<html>
    <head>
        <script src="../static/js/vendor/jquery.js"></script>
        <link rel="stylesheet" href="../static/css/foundation.min.css">
        <script src="../static/js/foundation/foundation.js"></script>
        <title>Not Found</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <style>
            .whitetext {
                color:#ebebeb;
            }
            .rounded {
                border-radius:15px;
                padding:10px 10px;
            }
            #small {
                font-size:10px;
            }
            .shadow {
                -moz-box-shadow:    3px 3px 5px 6px #ccc;
                -webkit-box-shadow: 3px 3px 5px 6px #ccc;
                box-shadow:         3px 3px 5px 6px #ccc;
            }
        </style>
        <script>
            $(document).ready(function() {
                $("#container").height(screen.height);
            })
        </script>
    </head>
    <body style="background-color:#F6F4F0;">
        <div style="width:90%; margin-left:auto; margin-right:auto; background-color:white;" id="container" class="shadow" >
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="/">PizzaMovie</a></h1>
                    </li>
                </ul>
	    </nav>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="large-12 columns">
                    <div class="large-8 columns large-centered ">
                        <div class="row rounded"  style="background:#808080;">
                            <div class="row">
                                <div class="large-11 columns large-centered">
                                    <h1 class="whitetext">Sorry.</h1>
                                </div>
                                <div class="large-11 columns large-centered">
                                    <div class="large-12 columns">
                                        <h3 class="whitetext">No matching movies were found.</h3>
                                    </div>
                                    <div class="large-12 columns">
                                        <h3 class="whitetext">Please <a style="color:B2D1FF;" href="/">try again</a>.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>



</html>
